# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# macOS
.DS_Store

# Datasets y archivos generados
dataset/
keras_tuner_results/

# Modelos y pesos entrenados
*.h5
*.keras
*.pkl
*.joblib
*.npy
*.npz
*.ckpt
checkpoints/
models/
