# Dataset pesado
dataset/

# Python
__pycache__/


# macOS
.DS_Store

# Resultados generados
keras_tuner_results/

# Modelos o pesos entrenados
*.h5
*.keras
*.pkl
*.joblib
*.npy
*.npz
*.ckpt
checkpoints/
models/
